/*============================================================================*/
/* Task Management System                                                     */
/*----------------------------------------------------------------------------*/
/* Author: Daniel Zaki Sommer                                                 */
/* Github: https://github.com/danisommer                                      */
/* Telephone: +55 (41) 99708-5707                                             */
/* Email: danielsommer@alunos.utfpr.edu.br                                    */
/* LinkedIn: www.linkedin.com/in/danisommer                                   */
/*============================================================================*/
/*  This program manages tasks, allowing filtering by status, date range, and */
/* search term.                                                               */
/*============================================================================*/

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchContainer {
    position: relative;
    margin-bottom: 20px;
}

.filter-options {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
    text-align: center;

}


.filter-options.active {
    display: block;
}

#applyFilter{
    margin-top: 10px; 
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4c57af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease;

}

#applyFilter:hover {
    background-color: #454ca0;
    transform: scale(1.05);
}


h1 {
    text-align: center;
}

.searchContainer {
    display: flex;
    margin-bottom: 20px;
}

.searchContainer input[type="text"] {
    flex: 1; 
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; 
}

.searchContainer button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4c57af;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: transform 0.2s ease;

}

.searchContainer button:hover {
    background-color: #454ca0;
    transform: scale(1.05);
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    width: calc(50% - 10px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    display: inline-block; 
    height: 20px;
}

form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4c57af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    height: 40px;
    white-space: nowrap;
    text-align: center;
    transition: transform 0.2s ease;
}

form button:hover {
    background-color: #454ca0;
    transform: scale(1.05);

}

ul {
    list-style-type: none;
    padding: 0;
}

li button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li.completed {
    background-color: #d9f7be;
}

.start-button {
    background-color: #4CAF50;
    color: white;
}

.start-button:hover {
    background-color: #388E3C;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.edit-button {
    background-color: #2196F3;
    color: white;
}

.edit-button:hover {
    background-color: #1976D2;
}

.confirm-edit-button {
    background-color: #4CAF50;
    color: white;
}

.confirm-edit-button:hover {
    background-color: #388E3C;
}

.cancel-edit-button {
    background-color: #9E9E9E;
    color: white;
}

.cancel-edit-button:hover {
    background-color: #757575;
}

.edit-button, .delete-button {
    transition: background-color 0.3s ease;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pageButtonActive {
    padding: 5px 13px;
    font-size: 16px;
    border: 1px solid #4c57af;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    background-color: #4c57af;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}       

.pageButtonActive:hover {
    background-color: #454ca0;
}

.pageButton {
    padding: 5px 13px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #4c57af;
    border: 1px solid #4c57af;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}

.pageButton:hover {
    background-color: #e0e0e0;
}